{{ define "main" }}
<main class="w-full">
    <header class="text-center">
        <h1 class="mb-10 text-base sm:text-lg md:text-3xl">Informations pratiques</h1>
    </header>
    <div class="px-2">
        <div class="lg:flex -mx-2">
            <div class="lg:w-1/3 lg:px-2">
                <div class="border border-grey-darkest rounded-lg mb-4 bg-white">
                    <h2 class="mb-0 py-4 text-base sm:text-lg md:text-2xl text-center bg-green rounded-t-lg">Honoraires</h2>
                    <div class="p-4 lg:p-4 mb-2 lg:mb-0">
                        <p class="text-center font-black my-4"><strong>Le tarif de la consultation est fixé à 50 euros</strong></p>
                        <h2 class="text-center mb-4 mb-4">Durée</h2>
                        <p class="mb-4">La consultation dure entre 45 et 60 minutes.</p>
                        <p class="mb-4">La fréquence des séances sera déterminé avec vous, en fonction de la situation, de vos besoin et de vos attentes.</p>
                        <h2 class="text-center mb-4">Règlement</h2>
                        <p class="text-center mb-4">En espèces ou par chèque.</p>
                        <div class="flex justify-around mx-auto w-1/3 mb-6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="65px" viewBox="0 0 100 63.6"><path d="M0 63.6h100V0H0v63.6zm4.6-40.9c7.9 0 18.2-10.4 18.2-18.2h54.5c0 7.9 10.4 18.2 18.2 18.2v18.2c-7.9 0-18.2 10.4-18.2 18.2H22.8c0-7.9-10.4-18.2-18.2-18.2V22.7z"/><path d="M40.9 33.6h-2.1l-.7 3.3h3.1C43.9 48.1 54.4 50.5 61.3 47v-6.4c-3.7 4-12 3.7-13.5-3.6h9.6l.7-3.3H47.3V31h11.6l.7-3.3H47.9c1.5-6.9 9.6-7.2 12.5-4.3l1.2-5.9c-4.1-2.2-12.4-2-16.8 3-1.7 2-2.9 4.3-3.5 7.1h-2.5l-.6 3.2h2.7v2.8z"/></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 98.6 92.9"><path d="M96.5 78.2c1.1 0 2.1-1 2.1-2.1V34.4c0-1.1-1-2.1-2.1-2.1H61.4c-.8 0-1.5-.7-1.5-1.5V1.5c0-1.4-1.8-2.1-2.6-1C41 19 26 27.9 15.7 32.4c-.2.2.5.1-13.6.1-1.1 0-2.1 1-2.1 2.1v56.2c0 1.1 1 2.1 2.1 2.1h94.4c1.1 0 2.1-1 2.1-2.1s-1-2.1-2.1-2.1H14.4c-2 0-2-3.1 0-3.1h82.1c1.1 0 2.1-1 2.1-2.1s-1-2.1-2.1-2.1H14.4c-2 0-2-3.1 0-3.1h82.1v-.1zm-2.1-40v34.3c0 .8-.7 1.5-1.5 1.5-83.7-.3-80.1.6-80.1-.7 0-.3.1-.6.6-.7C42.6 63.5 60 44.1 60 39.3c0-.2-.4-2.6 1.5-2.6h31.4c.9 0 1.5.7 1.5 1.5z"/></svg>
                        </div>
                        <h2 class="text-center mb-4">Remboursement</h2>
                        <p class="mb-4">Les consultations chez le psychologue ne sont pas remboursées par la Sécurité Sociale. Néanmoins, de plus en plus de mutuelles prennent en charge tout ou une partie des consultations (par exemple : Allianz, Axa, MGEN...). N'hésitez pas à vous renseigner auprès de votre mutuelle.</p>
                        <p>Dans ce cadre, une note d'honoraire pourra vous être délivrée à l'issue de chaque séance.</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/3 lg:px-2">
                <div class="lg:mr-2 border border-grey-darkest rounded-lg mb-4 bg-white">
                    <h2 class="mb-0 py-4 text-base sm:text-lg md:text-2xl text-center bg-green rounded-t-lg">Carte</h2>
                    <div class="p-4 lg:p-4 mb-2 lg:mb-0">
                        <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=6.164537281729282%2C48.68990290072631%2C6.175427050329746%2C48.699095107625986&amp;layer=transportmap&amp;marker=48.69449921396889%2C6.169982166029513" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=48.69450&amp;mlon=6.16998#map=17/48.69450/6.16998&amp;layers=T" target="_blank">Afficher une carte plus grande</a></small>
                        <div class="text-center">
                            <h2 class="my-6">Ligne de bus</h2>
                            <p>Ligne 2 : arrêt Place Godefroy de Bouillon / arrêt Campus Lettres</p>
                            <p>Ligne 5 : arrêt Place Godefroy de Bouillon</p>
                            <h2 class="my-6">Adresse</h2>
                            <p>2 rue de l'Oratoire, 54000 Nancy</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/3 lg:px-2">
                <aside class="w-full border border-grey-darkest rounded-lg text-center h-full pb-6 bg-white">
                    <h2 class="text-lg bg-green font-black p-6 mb-6">Prendre RDV</h2>
                    <h3 class="font-black mb-6">Par téléphone</h3>
                    <p class="mb-6">06 89 58 35 85</p>
                    <h3 class="font-black mb-6">Par mail</h3>
                    <p class="mb-6"><a href="mailto:florentsimonpsychologue@gmail.com" target="_blank" class="no-underline text-green-dark">florentsimonpsychologue@gmail.com</a></p>
                    <h3 class="font-black mb-6">En ligne</h3>
                    <a class="block w-1/2 mx-auto shadow-lg bg-green hover:bg-yellow text-black no-underline font-bold py-4 px-6 rounded" href="https://cabinet-liberal-florent-simon.reservio.com/">Prendre RDV</a>
                </aside>
            </div>
        </div>
    </div>
</main>
{{ end }}
